<!DOCTYPE html>
<html>
 <head>
   <title>Upload Image</title>
 </head>
 <body>

   {% if msg %}
   <h1>{{ msg }}</h1>
   {% endif %}
  
   <h1>Upload new File</h1>
  
   <form method=post enctype=multipart/form-data>
     <p><input type=file name=file>
        <input type=submit value=Upload>
   </form>

   <h1>about</h1>
   <p>
     It could take a long time to be processed, so have patience.
     I am designed with 5 different type of image processsing algorithms, like resizing the image with <strong>dpi</strong>,
     noise removing with <strong>cv2 adaptiveThreshold</strong>, <strong>cv2 filter2D</strong> (kernel custom), <strong>scikit learn adaptiveThresold</strong> and <strong>otsuThresold</strong>,
     and after that 2 extraction process is there, one is simple <strong>pytesseract</strong>, another one is with an algorithm.
     I will check all of this to achieve a better accuracy with <strong>84.20%</strong> on the task, if I fail, an appology is there.
     Hope my job can impress you and can get a chance to learn more with you.
   </p>
 </body>
</html>