<!DOCTYPE html>
<html>
 <head>
   <title>Upload Image</title>
 </head>
 <body>

   {% if msg %}
   <h1>{{ msg }}</h1>
   {% endif %}
  
   <h1>Upload new File</h1>
  
   <form method=post enctype=multipart/form-data>
     <p><input type=file name=file>
        <input type=submit value=Upload>
   </form>

   <h1>about</h1>
   <p>
     It is not the original one, it's a dummy of that inorder to make work on heroku, as after 30sec heroku server time out is occurred and original one tekes arround 55-60 sec to extract the accurate date. Original one is designed with 5 different type of image processsing algorithms, and 2 extraction process.
   </p>
 </body>
</html>